#outer {
  width: 100%;
  text-align: center;
}

#inner {
  display: inline-block;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

table {

  align:center;
  table-layout: fixed ;
  width: 100% ;
}
td {
  width: 25% ;
}

div{
  align-content: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}
